<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006666669568-kvamlpgjdpcf415d9ldeokbn7mn2p14h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006666669568-kvamlpgjdpcf415d9ldeokbn7mn2p14h</string>
	<key>API_KEY</key>
	<string>AIzaSyDsIGmDhXjKkQMWpDITUnBhT0hATfQbfek</string>
	<key>GCM_SENDER_ID</key>
	<string>1006666669568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.DenisChernov.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios-11e11</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios-11e11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006666669568:ios:6a56c04c56deb5913542e5</string>
</dict>
</plist>